# Convex (client) — déploiement actuel
EXPO_PUBLIC_CONVEX_URL=https://nautical-elk-207.eu-west-1.convex.cloud
EXPO_PUBLIC_CONVEX_SITE_URL=

# # FedaPay (https://fedapay.com) — variables côté Convex env en prod
# FEDAPAY_SECRET_KEY=
# FEDAPAY_WEBHOOK_SECRET=
# FEDAPAY_ENV=sandbox
# FEDAPAY_CALLBACK_URL=

EAS_SKIP_AUTO_FINGERPRINT=1
