@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;
    --card: 40 14% 93%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 240 9% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 14% 93%;
    --secondary-foreground: 0 0% 13%;
    --muted: 240 4% 60%;
    --muted-foreground: 240 4% 60%;
    --accent: 10 100% 67%;
    --accent-foreground: 240 9% 10%;
    --destructive: 0 100% 35%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 95%;
    --input: 240 7% 84%;
    --ring: 228 76% 59%;
    --radius: 0.5rem;
    --chart-1: 168 100% 12%;
    --chart-2: 216 79% 48%;
    --chart-3: 10 100% 67%;
    --chart-4: 40 14% 93%;
    --chart-5: 168 77% 95%;
  }

  .dark:root {
    --background: 168 100% 12%;
    --foreground: 0 0% 98%;
    --card: 168 60% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 168 60% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 9% 10%;
    --secondary: 168 40% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 60%;
    --muted-foreground: 240 4% 60%;
    --accent: 10 100% 67%;
    --accent-foreground: 240 9% 10%;
    --destructive: 0 84% 70%;
    --destructive-foreground: 0 0% 98%;
    --border: 168 30% 20%;
    --input: 168 30% 20%;
    --ring: 228 76% 59%;
    --chart-1: 168 77% 95%;
    --chart-2: 216 79% 65%;
    --chart-3: 10 100% 67%;
    --chart-4: 168 40% 16%;
    --chart-5: 0 0% 98%;
  }
}
